@using PagedList.Mvc;
@model PagedList.IPagedList<VinylC.Web.MVC.Models.Products.ProductsListViewModel>

@section styles {
    @Styles.Render("~/bundles/pagedlist")
}

@{
    ViewBag.Title = "All";
}

<section>
    <div class="container">
        <div class="row">
            <hr />
        </div>
        <div class="row">
            <div class="col-md-3">
                @Html.Partial("_SearchPartial")
            </div>
            <div class="col-md-4 col-md-offset-1" id="search-options">
                <ul class="nav navbar-nav">
                    <li class="navbar-brand">Sorty by:</li>
                    <li>@Html.ActionLink("Date", "All", "Products", new { sortOrder = ViewBag.DateSortParm }, null)</li>
                    <li>@Html.ActionLink("Price", "All", "Products", new { sortOrder = ViewBag.PriceSortParm }, null)</li>
                    <li>@Html.ActionLink("Rating", "All", "Products", new { sortOrder = ViewBag.RatingSortParm }, null)</li>
                </ul>
            </div>
            <div class="col-md-3 col-md-offset-1">
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.DisplayFor(b => b, "CreateProductPageButton")
                }
            </div>
        </div>
        <div class="row">
            <hr />
        </div>
        <div class="row">
            @Html.Partial("_ProductsListPartial", Model)
            <div id="ajax-search-results"></div>
            @Html.Partial("_PagingPartial", Model)
        </div>
    </div>
</section>
@section scripts {
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/customsearch")
}
