@using PagedList.Mvc;
@model PagedList.IPagedList<VinylC.Web.MVC.Models.Articles.ArticlesListViewModel>

@foreach (var article in Model)
{
    <div class="row">
        <div class="col-sm-4">
            <img src="@article.ImageUrl" class="img-responsive">
        </div>
        <div class="col-sm-8">
            <a href="@Url.Action("Details", "Articles", new { Id = article.Id })"><h3>@article.Title</h3></a>
            <p class="text-muted"><span class="glyphicon glyphicon-calendar"></span>&nbsp;@article.PostedOn</p>
            <p class="text-muted">
                <span class="glyphicon glyphicon-inbox"></span>
                <a href="/Articles/Category/@article.Category" >&nbsp;@article.Category</a>
            </p>
            <p>
                @article.Contetnt.Substring(0, 100);
                @if (article.Contetnt.Length > 100)
                {
                    <span>... @Html.ActionLink("Read More", "Details/" + article.Id, "Articles")</span>
                }
            </p><p class="text-muted">Presented by @article.User</p>

        </div>
    </div>
    <hr />
}