@using VinylC.Web.MVC.Areas.Private.Models

@model VinylC.Web.MVC.Models.Articles.ArticlesDetailsViewModel

@section styles {
    @Styles.Render("~/Content/comments")
}

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <hr />
            <h1 class="text-center">@Html.DisplayFor(m => m.Title, "Title")</h1>
            <hr />
            <div class="text-info row">
                <div class="col-md-3"><i class="glyphicon glyphicon-user"></i>&nbsp;@Html.DisplayFor(m => m.User, "Author")</div>
                <div class="col-md-4"><i class="glyphicon glyphicon-calendar"></i>&nbsp;@Html.DisplayFor(m => m.PostedOn, "Posted")</div>
                <div class="col-md-2">
                    <a href="#ArticleDetailsComments"><i class="glyphicon glyphicon-comment"></i>&nbsp;@Model.Comments.Count()</a>
                </div>
                <div class="col-md-3"><span class="glyphicon glyphicon-inbox"></span><a href="/Articles/Category/@Model.Category">&nbsp;@Model.Category</a></div>
            </div>
            <hr />
            <div>
                <img src="@Model.ImageUrl" class="img-responsive center-block">
            </div>
            <hr />
            <div>
                @Html.DisplayFor(m => m.Contetnt, "Content")
            </div>
            <hr />
        </div>
        <div class="col-md-2">
            <br />
            <br />
            <button id="ReturnBackButon" class="btn btn-lg btn-default">Go Back</button>
        </div>
    </div>
</div>
<div class="container" id="ArticleDetailsComments">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="detailBox">
                <div class="titleBox">
                    <label>Comments Box</label>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.Partial("~/Areas/Private/Views/Comment/_AddCommentPartial.cshtml", new AddCommentViewModel(Model.Id))
                }
                <div id="comments">
                    @{Html.RenderAction("GetPageCommentsPartial", "Comment", new { area = "Private", articleId = Model.Id });}
                </div>                
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryajax")
    <script type="text/javascript">
        $("#ReturnBackButon").on('click', function (ev) {
            window.history.back(1);
        });
    </script>
}
