@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            @if (User.IsInRole("Admin"))
            {
                <li class="dropdown" id="AdminDropdownMenu">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download" aria-expanded="false">Admin area <span class="glyphicon glyphicon-cog pull-left right-margin"></span><span class="caret"></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Manage Articles", "Index", "Article", new { area = "Administration" }, null)</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Manage Categories", "Index", "Category", new { area = "Administration" }, null)</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Manage Products", "Index", "Product", new { area = "Administration" }, null)</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Manage Users", "Index", "User", new { area = "Administration" }, null)</li>
                    </ul>
                </li>
            }
            <li>
                @Html.ActionLink("Your Profile", "Index", "User", new { area = "Private" }, null)
            </li>
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
